---
import Base from "@/layouts/Base.astro";
import { img } from "@/data/img.js";

const salsa = [
  { name: "Tito Ortos", country: "Salsa | Porto Rico", img: "la-negra-festival-tito-ortos.webp", ig: "https://www.instagram.com/titoortos/?hl=es", fb: "https://www.facebook.com/titoortos.gutierrez/?locale=es_ES" },
  { name: "Bersy Cortez", country: "Salsa | Venezuela", img: "la-negra-festival-bersy-cortez.webp", ig: "https://www.instagram.com/bersycortez/?hl=es", fb: "https://www.facebook.com/bersaidy" },
  { name: "Maykel Fonts", country: "Salsa | Cuba", img: "la-negra-festival-maykel-fonts.webp", ig: "https://www.instagram.com/maykel_fonts/?hl=es", yt: "https://www.youtube.com/@maykelfonts7608" },
  { name: "Anita Santos Rubín", country: "Salsa | Brasile", img: "la-negra-festival-anita-santos.webp", ig: "https://www.instagram.com/anitasantosrubin/?hl=es", fb: "https://www.facebook.com/anita.santosrubin/?locale=es_ES" },
  { name: "Yoyo Flow", country: "Salsa | Cuba", img: "yoyo-flow.jpg", ig: "https://www.instagram.com/yoyoflowofficial/?hl=es", yt: "https://www.youtube.com/channel/UCc3XRh7UmQWAy8GQvYIAW-g" },
  { name: "Marco Ferrigno", country: "Salsa | Italia", img: "marco-ferregno.jpg", ig: "https://www.instagram.com/marcoferrigno_official/?hl=es", fb: "https://www.facebook.com/marco.ferrigno.524/?locale=es_ES" },
  { name: "Barbara Jimenez", country: "Salsa | Cuba", img: "la-negra-festival-tito-barbara-jimenez.webp", ig: "https://www.instagram.com/barbara_jimenez_official/?hl=es", fb: "https://www.facebook.com/p/Barbara-Jimenez-100044368392149/?locale=es_ES" },
  { name: "Angelo Rito", country: "Salsa | Italia", img: "la-negra-festival-tito-angelo-rito.webp", ig: "https://www.instagram.com/angelojrito_mrmusicality_777/", fb: "https://www.facebook.com/angelojritofficial/?locale=es_ES" },
  { name: "Xiomar Rivas", country: "Salsa | Colombia", img: "la-negra-festival-tito-xiomar-rivas.webp", ig: "https://www.instagram.com/xiomar.rivas/?hl=es", yt: "https://www.youtube.com/@xiomarrivas9580" },
  { name: "Benny Ayala", country: "Salsa | USA-Messico", img: "Benny-Ayala.webp", ig: "https://www.instagram.com/bennyayalavillaraldo/", fb: "https://www.facebook.com/villaraldobenny" },
  { name: "Antonio e Jasmina Berardi", country: "Salsa | Italia", img: "la-negra-festival-tito-antonio-y-jasmina.webp", yt: "https://www.youtube.com/channel/UCiqDfW6jGlUsFfG47LOQfOA", fb: "https://www.facebook.com/AntonioyJasminaBerardi/?locale=es_ES" },
  { name: "Jessica Patella", country: "Salsa | Italia", img: "la-negra-festival-tito-jessica-patella.webp", ig: "https://www.instagram.com/jessica_patella/?hl=es", fb: "https://www.facebook.com/p/Jessica-Patella-the-page-100044582162793/?locale=es_LA" },
  { name: "Full Project", country: "Salsa | Italia", img: "la-negra-festival-tito-full-proyect.webp", ig: "https://www.instagram.com/full_project/?hl=es", fb: "https://www.facebook.com/fullproject.page/?locale=es_ES" },
  { name: "Yuniel Gual", country: "Salsa | Cuba", img: "Yuniel-Gual.webp", ig: "https://www.instagram.com/yunielgualofficial/", fb: "https://www.facebook.com/YunielGual/?locale=es_LA" },
  { name: "Pinuzzo", country: "Salsa | Italia", img: "la-negra-festival-tito-Pinuzzo.webp", ig: "https://www.instagram.com/pinuzzoagua/", yt: "https://www.youtube.com/watch?v=W3FJ2eyP3YE" },
  { name: "Cristina Verdú", country: "Salsa | Spagna", img: "Cristina-Verdu.jpg", ig: "https://www.instagram.com/cristinamambo/", fb: "https://www.facebook.com/p/Cristina-Verdu-Ballester-100063672308714/" },
  { name: "Franco Rocha", country: "Salsa | Uruguay", img: "la-negra-festival-tito-franco-rocha.webp", ig: "https://www.instagram.com/francorocha08/?hl=es", fb: "https://www.facebook.com/F.Rochasalsa/?locale=es_ES" },
  { name: "Jorge Martinez", country: "Salsa | Messico", img: "Jorge-Martinez.webp", ig: "https://www.instagram.com/jorgesalsa/", fb: "https://www.facebook.com/jorgesalsanama/?locale=es_LA" },
  { name: "Irene e Noelia", country: "Salsa | Spagna", img: "la-negra-festival-tito-irene-y-noelia.webp", ig: "https://www.instagram.com/irena_y_noelia_latindancers/", fb: "https://www.facebook.com/IrenayNoeliaSalsa/" },
  { name: "Jorge Aguilar", country: "Salsa | Messico", img: "jorge-aguilar-festiva-la-negra-dance.jpeg", ig: "https://www.instagram.com/jorgeaguilar4u/" },
  { name: "Alexander Carbó", country: "Salsa | Cuba", img: "la-negra-festival-tito-alexander-carbo.webp", ig: "https://www.instagram.com/alexandercarboofficial/?hl=es", yt: "https://www.youtube.com/channel/UCCYtTeixRuLWd1yiAYv_9ig" },
  { name: "Carmen Lorente", country: "Salsa | Spagna", img: "la-negra-festival-tito-carmen-lorente.webp", ig: "https://www.instagram.com/carmen.lorente.valencia/?hl=es", fb: "https://www.facebook.com/carmen.lorente.valencia/?locale=es_LA" },
  { name: "Alessandro Massaro", country: "Salsa | Italia", img: "Alessandro-Massaro.webp", ig: "https://www.instagram.com/ale.massaro86/" },
  { name: "Chiky Cuba", country: "Salsa | Cuba", img: "la-negra-festival-tito-chiky-cuba.webp", ig: "https://www.instagram.com/chiky.cuba/", fb: "https://www.facebook.com/chikycuba2020/?locale=es_LA" },
  { name: "Arianna Bazzini", country: "Salsa | Italia", img: "la-negra-festival-tito-arianna-bazzini.webp", ig: "https://www.instagram.com/arianna.bazzini/?hl=es", fb: "https://www.facebook.com/arianna.bazzini.7" },
  { name: "Victor Ortega", country: "Salsa | Brasile", img: "juan-pablo-festiva-dance-la-negra.jpg", ig: "https://www.instagram.com/victorortega_br/", yt: "https://www.youtube.com/user/VictorOrtega6/videos" },
  { name: "Tony e Sheida", country: "Salsa | Italia", img: "Tony-y-Sheida.webp", ig: "https://www.instagram.com/sheida_bailarina/" },
  { name: "Diana Montoya", country: "Salsa | Colombia", img: "la-negra-festival-tito-diana-montoya.webp", ig: "https://www.instagram.com/dianamontoya_dancer/", fb: "https://www.facebook.com/diana.montoya.395017/?locale=es_ES" },
  { name: "Laura Moreno", country: "Salsa | Spagna", img: "la-negra-festival-tito-laura-moreno.webp", ig: "https://www.instagram.com/lauramorenodance/reels/?hl=es", yt: "https://www.youtube.com/channel/UCNkz0WgZdltCYx64JgBw9gA" },
  { name: "Enoch Lopez", country: "Salsa | Spagna", img: "la-negra-festival-tito-enoch-lopez.webp", ig: "https://www.instagram.com/enoch.salsa.mambo/", fb: "https://www.facebook.com/enoch.lopezmadurga" },
  { name: "Juan Pablo", country: "Salsa | Colombia", img: "juan-pablo.jpg", ig: "https://www.instagram.com/juanpablo_diaz_villegas/", fb: "https://www.facebook.com/jpdiazvlc/" },
];

const bachata = [
  { name: "Korke e Judith", country: "Bachata | Spagna", img: "korke-judith-bachata-la-negra-dance-festival.jpeg", ig: "https://www.instagram.com/korkeyjudith_oficial/?hl=es", yt: "https://www.youtube.com/@korkeyjudithbachatasensual8925" },
  { name: "Gaby e Estefy", country: "Bachata | Repubblica Dominicana e Spagna", img: "festival-evelin-la-negra-Gabi-Estefy.jpg", ig: "https://www.instagram.com/gabyyestefyoficial/?hl=es", yt: "https://www.youtube.com/channel/UCSCMmHUPNEJytadJpyg9RBA" },
  { name: "Samy the Magic", country: "Bachata | Repubblica Dominicana", img: "samy-el-magico-festival-la-negra-dance.jpg", ig: "https://www.instagram.com/samyelmagico/", yt: "https://www.youtube.com/c/samyelmagico" },
  { name: "Dario e Sara", country: "Bachata | Spagna", img: "dario-y-sara.webp", ig: "https://www.instagram.com/darioysaraoficial/", fb: "https://www.facebook.com/darioysarabachataspain/?locale=es_ES" },
  { name: "Evelyn La Negra", country: "Bachata | Venezuela", img: "evelyn-la-negra-bachata-festival-pasos-libres_1.jpg", ig: "https://www.instagram.com/evelynlanegrasalsa/?hl=es", yt: "https://www.youtube.com/watch?v=BdjG8_loPmM" },
  { name: "Alfonso e Monica", country: "Bachata | Spagna", img: "festival-evelin-la-negra-alfonso-monica.jpg", ig: "https://www.instagram.com/alfonsoymonicaoficial/", yt: "https://www.youtube.com/channel/UCoE7rixJbJx0JnZ_lHP5Ylg" },
  { name: "Berra e Reyes", country: "Bachata | Spagna", img: "IMG_7831.webp", ig: "https://www.instagram.com/berrayreyesoficial/" },
  { name: "Gabriele Di Marzo", country: "Bachata | Italia", img: "gabriele-Di-marzo.jpeg", ig: "https://www.instagram.com/gabrieledimarzodancer/" },
  { name: "Oscar El Niño", country: "Bachata | Repubblica Dominicana", img: "festival-la-negra-dance-oscar-kids.jpg", ig: "https://www.instagram.com/oscarofficial_18/", yt: "https://www.youtube.com/@oscarnino8285" },
  { name: "Irene e Tomás", country: "Bachata | Spagna", img: "irene-y-tomas.jpeg", ig: "https://www.instagram.com/ireneytomas/?hl=es" },
  { name: "Mica e Fran", country: "Bachata | Argentina", img: "MICAYFRAN-08.webp", ig: "https://www.instagram.com/micayfranbachata/", yt: "https://www.youtube.com/@micayfranbachata" },
  { name: "Juan Pablo Paredes", country: "Bachata | Repubblica Dominicana", img: "juan-pablo-paredees-bachata-festival-pasos-libres.png", ig: "https://www.instagram.com/juanparedes_tu_bachatero/", fb: "https://www.facebook.com/juan.pablo.paredes.bachata/photos_by?locale=es_ES" },
  { name: "Oscar e Inés", country: "Bachata | Spagna", img: "festival-la-negra-dance-oscar-e-ines.jpg", ig: "https://www.instagram.com/oscareines_bachata/", yt: "https://www.youtube.com/channel/UCaLYKLMAcyJID-EprCAD7sw" },
  { name: "Jose e Yoli Conuco", country: "Bachata | Spagna", img: "jose-evelyn-bachata-festival-pasos-libres-1.jpg", ig: "https://www.instagram.com/conucodance", yt: "https://www.youtube.com/c/ConucoDanceBenidorm" },
];

const igIcon = `<svg viewBox="0 0 24 24" width="18" height="18" fill="currentColor"><path d="M12 2.2c3.2 0 3.6 0 4.9.1 1.2.1 1.8.3 2.2.4.6.2 1 .5 1.4.9.4.4.7.8.9 1.4.2.4.4 1 .4 2.2.1 1.3.1 1.7.1 4.9s0 3.6-.1 4.9c-.1 1.2-.3 1.8-.4 2.2-.2.6-.5 1-.9 1.4-.4.4-.8.7-1.4.9-.4.2-1 .4-2.2.4-1.3.1-1.7.1-4.9.1s-3.6 0-4.9-.1c-1.2-.1-1.8-.3-2.2-.4-.6-.2-1-.5-1.4-.9-.4-.4-.7-.8-.9-1.4-.2-.4-.4-1-.4-2.2C2.2 15.6 2.2 15.2 2.2 12s0-3.6.1-4.9c.1-1.2.3-1.8.4-2.2.2-.6.5-1 .9-1.4.4-.4.8-.7 1.4-.9.4-.2 1-.4 2.2-.4C8.4 2.2 8.8 2.2 12 2.2zm0 4.9a4.9 4.9 0 1 0 0 9.8 4.9 4.9 0 0 0 0-9.8zm0 8.1a3.2 3.2 0 1 1 0-6.4 3.2 3.2 0 0 1 0 6.4zm6.3-8.3a1.1 1.1 0 1 1-2.3 0 1.1 1.1 0 0 1 2.3 0z"/></svg>`;
const ytIcon = `<svg viewBox="0 0 24 24" width="18" height="18" fill="currentColor"><path d="M23 12s0-3.2-.4-4.7a2.5 2.5 0 0 0-1.7-1.7C19.4 5.2 12 5.2 12 5.2s-7.4 0-8.9.4A2.5 2.5 0 0 0 1.4 7.3C1 8.8 1 12 1 12s0 3.2.4 4.7a2.5 2.5 0 0 0 1.7 1.7c1.5.4 8.9.4 8.9.4s7.4 0 8.9-.4a2.5 2.5 0 0 0 1.7-1.7C23 15.2 23 12 23 12zM9.7 15.3V8.7l5.8 3.3-5.8 3.3z"/></svg>`;
const fbIcon = `<svg viewBox="0 0 24 24" width="18" height="18" fill="currentColor"><path d="M22 12a10 10 0 1 0-11.6 9.9v-7H7.9V12h2.5V9.8c0-2.5 1.5-3.9 3.8-3.9 1.1 0 2.2.2 2.2.2v2.5h-1.2c-1.2 0-1.6.8-1.6 1.6V12h2.7l-.4 2.9h-2.3v7A10 10 0 0 0 22 12z"/></svg>`;
---

<Base title="Artisti" description="Scopri la costellazione di stelle della salsa e della bachata a La Negra Dance Festival." lang="it">
  <!-- INTRO -->
  <section class="section intro text-center">
    <div class="container">
      <p class="eyebrow dark">Salsa - Bachata</p>
      <h1 class="script-title">Gli artisti che partecipano a La Negra Dance Festival</h1>
      <p class="intro-date">Dal 21 al 25 ottobre 2026 a Calpe (Spagna)</p>
      <div class="intro-nav">
        <a class="btn btn-outline" href="#salsa">Vedi gli artisti di Salsa</a>
        <a class="btn btn-outline" href="#bachata">Vedi gli artisti di Bachata</a>
      </div>
    </div>
  </section>

  <!-- SALSA -->
  <section id="salsa" class="section artists text-center">
    <div class="container">
      <p class="eyebrow dark">Artisti di Salsa</p>
      <h2 class="script-title">Le nostre stelle della Salsa</h2>
      <p class="artists-intro">Le migliori stelle della salsa, nazionali e internazionali, dai grandi maestri alle nuove generazioni che stanno sorprendendo il mondo, si riuniscono qui per offrire workshop e masterclass specializzate, con un alto livello pedagogico. Molti di loro sono anche giudici del nostro prestigioso campionato del mondo. Gli stili di ballo più popolari di Cuba, Porto Rico, New York, Cali, il tradizionale, l'urbano, le fusioni arriveranno per mano di queste leggende.</p>
      <div class="artists-grid">
        {salsa.map((a) => (
          <article class="artist">
            <div class="artist-img"><img src={img(a.img)} alt={a.name} loading="lazy" /></div>
            <h3 class="artist-name">{a.name}</h3>
            <p class="artist-country">{a.country}</p>
            <div class="artist-social">
              {a.fb && <a href={a.fb} target="_blank" rel="noopener" aria-label="Facebook" set:html={fbIcon}></a>}
              {a.ig && <a href={a.ig} target="_blank" rel="noopener" aria-label="Instagram" set:html={igIcon}></a>}
              {a.yt && <a href={a.yt} target="_blank" rel="noopener" aria-label="YouTube" set:html={ytIcon}></a>}
            </div>
          </article>
        ))}
      </div>
    </div>
  </section>

  <!-- BACHATA -->
  <section id="bachata" class="section artists text-center bachata-section">
    <div class="container">
      <p class="eyebrow dark">Artisti di Bachata</p>
      <h2 class="script-title">Le nostre stelle della Bachata</h2>
      <p class="artists-intro">La bachata ha conquistato il mondo ed eccoti una gamma di tutti gli stili e i modi di ballarla, dal più puro e tradizionale, al sensuale e alle diverse fusioni che rispettano l'essenza della vera bachata nata nella Repubblica Dominicana. Per mano di queste stelle internazionali riceverai workshop, masterclass e molti faranno parte della grande giuria del Mondiale di Bachata Pasos Libres.</p>
      <div class="artists-grid">
        {bachata.map((a) => (
          <article class="artist">
            <div class="artist-img"><img src={img(a.img)} alt={a.name} loading="lazy" /></div>
            <h3 class="artist-name">{a.name}</h3>
            <p class="artist-country">{a.country}</p>
            <div class="artist-social">
              {a.fb && <a href={a.fb} target="_blank" rel="noopener" aria-label="Facebook" set:html={fbIcon}></a>}
              {a.ig && <a href={a.ig} target="_blank" rel="noopener" aria-label="Instagram" set:html={igIcon}></a>}
              {a.yt && <a href={a.yt} target="_blank" rel="noopener" aria-label="YouTube" set:html={ytIcon}></a>}
            </div>
          </article>
        ))}
      </div>
    </div>
  </section>
</Base>

<style>
  .eyebrow.dark { color: var(--gold); }

  /* INTRO */
  .intro-date { font-size: 20px; font-weight: 300; color: var(--gold-dark); margin: 4px 0 24px; }
  .intro-nav { display: flex; gap: 16px; justify-content: center; flex-wrap: wrap; }

  /* ARTISTS */
  .bachata-section { padding-top: 0; }
  .artists-intro { max-width: 820px; margin: 0 auto 36px; }
  .artists-grid { display: grid; grid-template-columns: repeat(4, 1fr); gap: 40px 30px; }
  .artist { display: flex; flex-direction: column; align-items: center; }
  .artist-img {
    width: 82%; aspect-ratio: 1; overflow: hidden; margin-bottom: 18px;
    border-radius: 42% 58% 47% 53% / 52% 43% 57% 48%;
    transition: border-radius .7s ease, transform .4s ease;
  }
  .artist:nth-child(2n) .artist-img { border-radius: 58% 42% 55% 45% / 45% 57% 43% 55%; }
  .artist:nth-child(3n) .artist-img { border-radius: 50% 50% 42% 58% / 60% 40% 55% 45%; }
  .artist:nth-child(4n) .artist-img { border-radius: 46% 54% 60% 40% / 48% 58% 42% 55%; }
  .artist:hover .artist-img { border-radius: 50%; transform: translateY(-5px) scale(1.03); }
  .artist-img img { width: 100%; height: 100%; object-fit: cover; }
  .artist-name { font-family: var(--font-body); font-weight: 600; font-size: clamp(19px, 1.6vw, 25px); letter-spacing: -.02em; margin: 0 0 2px; color: #14121a; }
  .artist-country { color: var(--gold-dark); font-size: 14px; margin: 0 0 10px; }
  .artist-social { display: flex; gap: 8px; justify-content: center; }
  .artist-social a {
    display: inline-flex; align-items: center; justify-content: center;
    width: 34px; height: 34px; border-radius: 50%;
    background: var(--gold); color: #fff;
  }
  .artist-social a:hover { background: var(--gold-dark); }

  /* responsive */
  @media (max-width: 900px) {
    .artists-grid { grid-template-columns: repeat(2, 1fr); }
  }
</style>
